<div class="limiter">
  <div
    class="container-login100"
    style="background-image: url('assets/images/bg-01.jpg')"
  >
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-70"> Reset Password </span>

        <div
          class="wrap-input100 validate-input m-b-23"
          data-validate="Field is required"
        >
          <span class="label-input100">Email/Phone</span>
          <input
            id="emailphone"
            class="input100"
            type="text"
            name="email"
            placeholder="Type your answer"
          />
          <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="RedirectToOTP()">
              Next
            </button>
          </div>
        </div>
        <a
          href="javascript:void(0)"
          class="btn bi-arrow-return-left mt-5"
          (click)="BacktoHomepage()"
        >
          Back
        </a>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
