<div class="limiter">
  <div
    class="container-login100"
    style="background-image: url('assets/images/bg-01.jpg')"
  >
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-49"> Register </span>

        <div
          class="wrap-input100 validate-input m-b-23"
          data-validate="Username is required"
        >
          <span class="label-input100">Name</span>
          <input
            class="input100"
            type="text"
            name="name"
            placeholder="Type your username"
            [(ngModel)]="this.account"
          />
          <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>
        <div
          class="wrap-input100 validate-input m-b-23"
          data-validate="Email is required"
        >
          <span class="label-input100">Email</span>
          <input
            class="input100"
            type="email"
            name="Email"
            placeholder="Type your Email"
            [(ngModel)]="this.email"
          />
          <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>

        <div
          class="wrap-input100 validate-input m-b-23"
          data-validate="Password is required"
        >
          <span class="label-input100">Password</span>
          <input
            class="input100"
            type="password"
            name="password"
            placeholder="Type your password"
            [(ngModel)]="this.password"
          />
          <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>
        <div
          class="wrap-input100 validate-input"
          data-validate="ConfirmPassword is required"
        >
          <span class="label-input100">Confirm Password</span>
          <input
            class="input100"
            type="password"
            name="ConfirmPassword"
            placeholder="Type your ConfirmPassword"
            [(ngModel)]="this.confirmpassword"
          />
          <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>

        <div class="container-login100-form-btn mt-4">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="RegisterAccountSubmit()">
              Sign Up
            </button>
          </div>
        </div>

        <div class="txt1 text-center p-t-54 p-b-20">
          <p>
            Have an account?
            <a href="/signin" style="margin-left: 10px">Login Here</a>
          </p>
        </div>

        <div class="row mt-5">
          <div class="col" style="display: flex">
            <div class="col-6">
              <a href="/home" class="btn bi-arrow-return-left txt2"> Back </a>
            </div>
            <div class="col-6" style="text-align: right">
              <a href="/signin" class="btn txt2 bi-arrow-return-right">
                Sign In
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
